html[dir="ltr"] .myAppDemoWT .myCustomButton.sapMBtn {
    margin-right: 1rem;
}

html[dir="ltr"] .myAppDemoWT .myCustomButton.sapMBtn {
    margin-left: 1rem;
}

.myAppDemoWT .myCustomText {
    display: inline-block;
    font-weight: bold;
}